[popover] {
  margin: auto;
  position: fixed;
  padding: 2rem;
  text-align: center;
  max-width: 90ch;
  max-height: 80vh;
  width: 90vw;
}

[popover]:popover-open {
  display: grid;
  place-items: center;
}

[popover]::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
